@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(16,13,0);
  background: linear-gradient(90deg, rgba(16,13,0,1) 0%, rgba(52,41,0,1) 48%, rgba(16,13,0,1) 100%);
  color: white;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
